*~
*.log
.gradle
libs
build
webapp/src/main/webapp/begin.jsp
webapp/src/main/webapp/dataCategories.jsp
webapp/src/main/webapp/footer.jsp
webapp/src/main/webapp/htmlHead.jsp
webapp/src/main/webapp/log4j.properties
webapp/src/main/webapp/report.jsp
webapp/src/main/java
webapp/src/main/webapp/model
webapp/src/main/webapp/.gitignore
webapp/src/main/webapp/README.md
webapp/src/main/webapp/css/
webapp/src/main/webapp/images/
webapp/src/main/webapp/js/
webapp/src/main/webapp/themes/
genomic_model.xml
